@model Blog



<div class="container p-3">
            <div class="row justify-content-center">
            <div class="col-8 border border-3 border-light rounded-3">
                <article class="blog-post rounded">
                    <h5 class="fw-bold">@Model.Tag.Name</h5> 
                    <h1 class="fw-bold blog-post-title display-2 lh-1">@Model.Title</h1>
                    <h2 class="fw-lighter fst-italic">@Model.Header</h2> 
                    <p class=" font-monospace blog-post-meta">@Model.CreatedDate by @Model.Author.User</p>
                    <p>@Model.Description</p>
                    <hr>
                </article>

               

                @if (Model.Comments.Count > 0)
                {
                     <h3 class="p-3">Comments</h3> 
                        @foreach(var comment in Model.Comments)
                        {
                            <div id="comment" class="border-start border-3 p-3">
                            <h5 class="text-primary fw-lighter ">@comment.User <text class="fs-6 text-secondary">@comment.CreatedDateTime</text> </h5>
                            <p class="fw-light card-text">@comment.Text</p>
                            <p><i class="bi bi-hand-thumbs-up"></i><span id="likeCount_@comment.Id">@comment.Likes</span> <i class="bi bi-hand-thumbs-down"></i> <span id="dislikeCount_@comment.Id">@comment.Dislikes</span></p>

                        <div class="d-flex">
                                <div class="col p-3">
                                <button onclick="likeComment(@Model.BlogId, @comment.Id)">Like
                                <i class="bi bi-hand-thumbs-up"></i>Like
                                </button>
                                </div>

                                <div class="col p-3">
                                <button onclick="dislikeComment(@comment.Id)">Dislike
                                <i class="bi bi-hand-thumbs-down"></i>Dislike
                                </button>
                                </div>
                           </div>
                          </div>
                       
                        } 

                }

                @if (User.Identity.IsAuthenticated)
                {
                   <div class="col p-3">
                       <div class="col">     
                            <form asp-controller="Home" asp-action="AddComment" method="post">
                                <input type="hidden" name="blogId" value="@Model.BlogId" />
                                <input type="text"  name="text" class="form-control" placeholder="Posting as @User.Identity.Name">
                                <div class="col p-3">
                                    <button class="btn btn-primary" type="submit">Send</button>
                                </div>
                           </form>
                        </div>
                        
                   </div>
           
                }
            </div>
        </div>
</div>
@section Scripts
{
    <script>
        setInterval(function () {
            // Loop through all comments and update their counters
            $("#comment").each(function () {
                var commentId = $(this).data("comment-id");
                var blogId = $(this).data("blog-id");
                updateCounters(blogId, commentId);
            });
        }, 50);

        function updateCounters(blogId, commentId) {
            $.get(`/Home/GetCommentCounts?blogId=${blogId}&commentId=${commentId}`, function (data) {
                $(`#likeCount_${commentId}`).text(data.Likes);
                $(`#dislikeCount_${commentId}`).text(data.Dislikes);
            }).fail(function (error) {
                console.error(error);
            });
        }

        function likeComment(blogId, commentId) {
            $.post(`/Home/Like?blogId=${blogId}&commentId=${commentId}`, function (data) {
                // Update the "Like" count on the page
                $(`#likeCount_${commentId}`).text(data.Likes);
            }).fail(function (error) {
                console.error(error);
            });
        }

        function dislikeComment(commentId) {
                $.post(`/Home/Dislike?commentId=${commentId}&blogId=${blogId}`, function (data) {
                // Update the "Dislike" count on the page
                $(`#dislikeCount_${commentId}`).text(data.Dislikes);
            }).fail(function (error) {
                console.error(error);
            });
        }
    </script>
}