@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Home Page";
}

@model List<Blog>

<div class="col-md">
    <h1 class="display-1 text-center fw-bold">CAHMI'S BLOG</h1>
    <p class="text-center fst-italic font-monospace">A Self Improvement Blog since 2023</p> 
</div>

    @foreach (var blog in Model)
    {
         <div class="container p-3">
        <div class="row justify-content-center">
            <div class="col-8" id="text-blocks">
                <article class="blog-post rounded">
                    <h5 class="fw-bold">@blog.Tag.Name</h5> 
                    <h1 class="fw-bold blog-post-title display-4 lh-1"><a style="color: inherit; text-decoration: none;" asp-controller="Home" asp-action="Blog" asp-route-id="@blog.BlogId">@blog.Title</a></h1>
                    <h2 class="fw-lighter fst-italic">@blog.Header</h2> 
                    <p class=" font-monospace blog-post-meta">@blog.CreatedDate by @blog.Author.User</p>
                    <p>@blog.Description</p>
                    <hr>
                </article>  
            </div>
        </div>
    </div>

    }


